<div class="page-wrapper d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg notify-card p-4 text-center rounded-4">

    <div class="mb-4">
      <img src="assets/images/calendar.png" alt="Calendar Icon" class="calendar-icon">
    </div>

    <h2 class="text-dark mb-1">Notify Your Leave</h2>

    <h2 class="text-dark fs-5 mb-4">{{ greeting }} <br> User</h2>

    <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
      <img src="assets/images/arrow.png" alt="Arrow" class="arrow">
      <a routerLink="/notifyleave" class="click-link fs-5">
        Click here
      </a>
    </div>

    <h4>Take a break, you deserve it.</h4>

    <button (click)="refreshHolidayDates()" class="btn p-0 border-0 bg-transparent" title="Sync Holiday Dates">
  <i class="bi bi-arrow-repeat fs-5 text-primary"></i>
</button>



  </div>
</div>
