
.btn{
  display:block;
  margin-left:auto;
  padding:8px;
  background-color: #A100FF;
  margin-bottom:10px;
  margin-top:10px;
}

::ng-deep ng-select .ng-value, 
::ng-deep ng-select .ng-placeholder, 
::ng-deep ng-select .ng-option {
  font-weight: normal !important;
}
::ng-deep ng-select .ng-select-container .ng-arrow-wrapper {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.alert{
  margin-top:60px;
}

.start-date-icon {
  position: absolute;
  margin-top: -20px;
  margin-right: 32px;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2a2a2a;
  font-size: 1.25rem;
  user-select: none;
}


.end-date-icon {
  position: absolute;
  margin-top: -20px;
  margin-right: 32px;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2a2a2a;
  font-size: 1.25rem;
  user-select: none;
}

