
.btn{
  display:block;
  margin-left:auto;
  padding:8px;
  background-color: #A100FF;
  margin-bottom:10px;
  margin-top:10px;
}

::ng-deep ng-select .ng-value, 
::ng-deep ng-select .ng-placeholder, 
::ng-deep ng-select .ng-option {
  font-weight: normal !important;
}
::ng-deep ng-select .ng-select-container .ng-arrow-wrapper {
  display: none;
}
