<div>
    <nav *ngIf="isVisible" class="navbar navbar-expand-lg fixed-top " style="padding: 20px; background-color: #f8f9fa;; border-radius: 5px;">
  <div class="container-fluid position-relative">
    <a class="navbar-brand position-absolute start-50 translate-middle-x" [routerLink]="'/homepage'">Notify Leave</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex gap-3">
        <a class="nav-link active" aria-current="page" href="/notifyleave">Home</a>
        <a class="nav-link" href="/pending">Leave Request</a>
      </div>
    </div>
  </div>
</nav>
</div>