<div class="container">
  <header class="header">Leave Requests</header>
 
  <div class="main-layout">
    <nav class="sidebar">
      <ul>
        <li class="active">Pending</li>
        <li>Approved</li>
        <li>Rejected</li>
      </ul>
    </nav>
 
    <section class="content">
      <div class="leave-card" *ngFor="let leave of pendingLeaves" (click)="openDetails(leave)">
            <h3 class="card-name">Name:{{ leave.name }}</h3>
            <p class="card-date">Start Date:{{ leave.startDate }} <br> End Date:{{ leave.endDate }}</p>
            <p class="card-type">Leave Type:{{ leave.type }}</p>
          <button class="arrow-btn">➔</button>
      </div>
    </section>
  </div>
 
  <div class="details-modal" *ngIf="selectedLeave">
    <div class="details-content" >
      <h2>Leave Details</h2>
      <p class="detail-type"><strong>Leave Type:</strong> {{ selectedLeave.type }}</p>
      <p class="detail-name"><strong>Availed By:</strong> {{ selectedLeave.name }}</p>
      <p class="detail-startdate"><strong>Start Date:</strong> {{ selectedLeave.startDate }}</p>
      <p class="detail-end date"><strong>End Date:</strong> {{ selectedLeave.endDate }}</p>
      <p class="detail-reason"><strong>Brief Reason:</strong> {{ selectedLeave.reason }}</p>
      <p class="detail-contact"><strong>Backup Contact(s):</strong> {{ selectedLeave.backupContact }}</p>
      <p class="detail-notify"><strong>Notify To Recipient(s):</strong> {{ selectedLeave.notifyTo }}</p>
      <p class="detail-location"><strong>Base Location:</strong> {{ selectedLeave.location }}</p>
      <p class="detail-project"><strong>Project:</strong> {{ selectedLeave.project }}</p>
      <p class="detail-team"><strong>Team:</strong> {{ selectedLeave.team }}</p>
      <p class="detail-status"><strong>Leave Status:</strong> {{ selectedLeave.status }}</p>
      <p class="detail-comment"><strong>Comments:</strong> {{ selectedLeave.comments }}</p>
 
      <div class="action-buttons">
        <button (click)="approveLeave()">Approve</button>
        <button (click)="rejectLeave()">Reject</button>
      </div>
    </div>
  </div>
</div>
