<div class="container-fluid">
  <div class="main-layout">
    <nav class="sidebar">
      <ul>
        <li [class.active]="currentTab === 'Pending'" (click)="setTab('Pending')">Pending</li>
        <li [class.active]="currentTab === 'Approved'" (click)="setTab('Approved')">Approved</li>
        <li [class.active]="currentTab === 'Rejected'" (click)="setTab('Rejected')">Rejected</li>
      </ul>
    </nav>
    <section class="content">
      <div *ngIf="visibleLeaves.length === 0" class="text-center mt-5 text-muted font-weight: 500; font-size: 1.2rem;">
        <h5>No Pending Requests are available</h5>
      </div>
      <div class="row">
      <div class="card p-1 leave-card" *ngFor="let leave of visibleLeaves.slice().reverse()" (click)="openDetails(leave)">
        <div class="blue-strip"></div>
        <div class="card-body m-1 p-0 ">
          <div class="container p-4 pb-0 pt-5 ">
            <div class="row mb-4">
              <div class="col-md-4 col-sm-6 mb-2">
                <strong>Leave Type:</strong> {{ leave.leaveType }}
              </div>
              <div class="col-md-3 col-sm-6 mb-2">
                <strong>From:</strong> {{ leave.startDate }}
              </div>
              <div class="col-md-3 col-sm-6 mb-2">
                <strong>Project:</strong> {{ leave.projectSow }}
              </div>
              <div class="col-md-2 col-sm-6 mb-2">
                <strong>No of Days:</strong> {{ leave.leaveCount }}
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-4 col-sm-6 mb-2">
                <strong>Name:</strong> {{ leave.availedBy }}
              </div>
              <div class="col-md-3 col-sm-6 mb-2">
                <strong>To:</strong> {{ leave.endDate }}
              </div>
              <div class="col-md-3 col-sm-6 mb-2">
                <strong>Team:</strong> {{ leave.subTeam }}
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
    </section>
  </div>

  <div class="details-modal" *ngIf="selectedLeave">
    <div class="reject-modal" *ngIf="showRejectPopup">
      <div class="reject-content">
        <h3>Reject Leave Request</h3>
        <textarea [(ngModel)]="rejectionComment" placeholder="Please provide a reason for rejecting (max 100 characters)"   #rejectionCommentCtrl="ngModel" rows="4" maxlength="100" (input)="validateRejectionComment(rejectionComment)"></textarea>
        <div class="text-end small text-muted mt-1">
          {{ rejectionCommentLength }}/100 characters
        </div>
        <div *ngIf="rejectionCommentLength === 100" class="text-warning small">
          Sorry, you could not exceed the character limit ( > 100 characters).
        </div>
        <div *ngIf="rejectionCommentLength > 0 || rejectionErrors.containsEmoji" class="text-danger small mt-1">
            <div *ngIf="rejectionErrors.containsEmoji  ">Emojis are not allowed.</div>
            <div *ngIf="rejectionErrors.numbersOnly">Cannot be only numbers.</div>
            <div *ngIf="rejectionErrors.invalidChars">Only letters, digits, '.', ',' and '-' allowed.</div>
            <div *ngIf="rejectionErrors.maxLength">Maximum 100 character</div>
        </div>
        <div class="reject-actions">
          <button class="btn btn-danger"[disabled]="!rejectionComment.trim() ||rejectionErrors.containsEmoji ||rejectionErrors.numbersOnly ||rejectionErrors.invalidChars ||rejectionErrors.maxLength"
            (click)="confirmReject()">Reject</button>
          <button class="btn btn-secondary" (click)="cancelReject()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="details-content">
      <button class="close-btn" (click)="closeDetails()">×</button>
      <h2>Leave Details</h2>
      <p><strong>Availed By:</strong> {{ selectedLeave.availedBy }}</p>
      <p><strong>Type:</strong> {{ selectedLeave.leaveType }}</p>
      <p><strong>Start:</strong> {{ selectedLeave.startDate }}</p>
      <p><strong>End:</strong> {{ selectedLeave.endDate }}</p>
      <p><strong>Reason:</strong> {{ selectedLeave.reason }}</p>
      <p><strong>Backup Contact(s):</strong></p>
      <ul class="no-bullets">
        <li *ngFor="let contact of selectedLeave.backupContacts">{{ selectedLeave.backupContacts }}</li>
      </ul>
      <p><strong>Notify To:</strong></p>
      <ul class="no-bullets">
        <li *ngFor="let notify of selectedLeave.notifyToRecipients">{{ selectedLeave.notifyToRecipients }}</li>
      </ul>
      <p><strong>Location:</strong> {{ selectedLeave.baseLocation }}</p>
      <p><strong>Project:</strong> {{ selectedLeave.projectSow }}</p>
      <p><strong>Team:</strong> {{ selectedLeave.subLobTeam }}</p>
      <p><strong>Status:</strong> {{ selectedLeave.leaveStatus }}</p>
      <p><strong>Comments:</strong> {{ selectedLeave.comments }}</p>

      <div class="action-buttons" *ngIf="currentTab === 'Pending'">
        <button (click)="approveLeave()">Approve</button>
        <button (click)="rejectLeave()">Reject</button>
      </div>
    </div>
  </div>
</div>
